@model IEnumerable<TestAzureApp.Models.TestData>
@foreach (var item in Model)
{
    <tr>
        <td>@item.Id</td>
        <td>@item.Message</td>
        <td>@item.InsertedAt</td>
        <td>
            <form asp-action="Delete" method="post" style="display:inline;">
                <input type="hidden" name="id" value="@item.Id" />
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
}
